<a href="https://colab.research.google.com/github/chinmayayy/Hostile-News-Classification/blob/main/Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#SETUP

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd '/content/drive/MyDrive/Colab Notebooks/Project/Dataset'

/content/drive/MyDrive/Colab Notebooks/Project/Dataset

In [ ]:
ls

'constraint_Hindi_Train - Sheet1.csv'  'Test Set Complete - test.csv'
'Constraint_Hindi_Valid - Sheet1.csv'   Train_Data_01.csv
 dataset.csv

In [ ]:
#importing libraries
import pandas as pd
import numpy as np

#Data Processing

In [ ]:
a = pd.read_csv("constraint_Hindi_Train - Sheet1.csv")
b = pd.read_csv('Test Set Complete - test.csv')
c = pd.read_csv('Constraint_Hindi_Valid - Sheet1.csv')
merged = pd.merge(a,b, on='Post',how='left')
merged.to_csv("file1.csv", index=False)

In [ ]:
d = pd.read_csv("file1.csv")

In [ ]:
merged_final = pd.merge(d,c, on='Post',how='left')
merged_final.to_csv("dataset.csv")

In [ ]:
data = pd.read_csv("dataset.csv")
data.head(25)

    Unnamed: 0  Unique ID_x  ... Unique ID Labels Set
0            0            1  ...       NaN        NaN
1            1            2  ...       NaN        NaN
2            2            3  ...       NaN        NaN
3            3            4  ...       NaN        NaN
4            4            5  ...       NaN        NaN
5            5            6  ...       NaN        NaN
6            6            7  ...       NaN        NaN
7            7            8  ...       NaN        NaN
8            8            9  ...       NaN        NaN
9            9           10  ...       NaN        NaN
10          10           11  ...       NaN        NaN
11          11           12  ...       NaN        NaN
12          12           13  ...       NaN        NaN
13          13           14  ...       NaN        NaN
14          14           15  ...       NaN        NaN
15          15           16  ...       NaN        NaN
16          16           17  ...       NaN        NaN
17          17           18  ...       NaN        NaN
18          18           19  ...       NaN        NaN
19          19           20  ...       NaN        NaN
20          20           21  ...       NaN        NaN
21          21           22  ...       NaN        NaN
22          22           23  ...       NaN        NaN
23          23           24  ...       NaN        NaN
24          24           25  ...       NaN        NaN

[25 rows x 8 columns]

In [ ]:
fake = pd.read_csv('Train_Data_01.csv')

In [ ]:
fake.head()

   id                                               post                labels
0   1  मेरे देश के हिन्दु बहुत निराले है। कुछ तो पक्क...        hate,offensive
1   2  सरकार हमेशा से किसानों की कमाई को बढ़ाने के लि...           non-hostile
2   3  सुशांत ने जो बिजनेस डील 9 जून को की थी, वो डील...           non-hostile
3   4  @prabhav218 साले जेएनयू छाप कमिने लोग हिन्दुओं...  defamation,offensive
4   5  #unlock4guidelines - अनलॉक-4 के लिए गाइडलाइन्स...           non-hostile

In [ ]:
print(f'labels: {fake.labels.unique()}')

labels: ['hate,offensive' 'non-hostile' 'defamation,offensive' 'fake' 'hate'
 'offensive' 'fake,hate' 'defamation' 'defamation,hate'
 'defamation,hate,offensive' 'defamation,fake,offensive' 'fake,offensive'
 'defamation,fake' 'defamation,fake,hate' 'fake,hate,offensive'
 'defamation,fake,hate,offensive']

In [ ]:
fake["labels"].replace({"hate,offensive": "hostile", "real" : "non-hostile", "fake" : "hostile" , "defamation,offensive": "hostile", "hate": "hostile", "offensive": "hostile", "fake,hate": "hostile", "defamation": "hostile", "defamation,hate": "hostile", "defamation,hate,offensive": "hostile", "defamation,fake,offensive": "hostile", "fake,offensive": "hostile", "defamation,fake": "hostile", "defamation,fake,hate" : "hostile", "fake,hate,offensive": "hostile", "defamation,fake,hate,offensive" : "hostile"}, inplace=True)

In [ ]:
fake.head()

   id                                               post       labels
0   1  मेरे देश के हिन्दु बहुत निराले है। कुछ तो पक्क...      hostile
1   2  सरकार हमेशा से किसानों की कमाई को बढ़ाने के लि...  non-hostile
2   3  सुशांत ने जो बिजनेस डील 9 जून को की थी, वो डील...  non-hostile
3   4  @prabhav218 साले जेएनयू छाप कमिने लोग हिन्दुओं...      hostile
4   5  #unlock4guidelines - अनलॉक-4 के लिए गाइडलाइन्स...  non-hostile

Hostile : 0
Non-Hostile : 1

In [ ]:
fake['labels'] = fake['labels'].apply({'hostile':0, 'non-hostile':1}.get)

In [ ]:
fake.head(15)

    id                                               post  labels
0    1  मेरे देश के हिन्दु बहुत निराले है। कुछ तो पक्क...       0
1    2  सरकार हमेशा से किसानों की कमाई को बढ़ाने के लि...       1
2    3  सुशांत ने जो बिजनेस डील 9 जून को की थी, वो डील...       1
3    4  @prabhav218 साले जेएनयू छाप कमिने लोग हिन्दुओं...       0
4    5  #unlock4guidelines - अनलॉक-4 के लिए गाइडलाइन्स...       1
5    6  चीन ने UN में तर्क दिया की भारत का विपक्ष ही अ...       0
6    7  देश में #Corona के रिकॉर्ड मामले  \n#ZeeJankar...       1
7    8  #JEE Exam center से निकले #Students को सुन बाक...       1
8    9  #AkshayKumar जल्द ही बेयर ग्रिल्स के शो 'इंटू ...       1
9   10  #जीवनसंवाद: हम संघर्ष करना चाहते हैं, क्योंकि ...       1
10  11  RT @_Pb_swain_: मोदीजी और जब सारा देश सेना के ...       0
11  12  RT @ShilpiSinghINC: 48000 घरों को तोड़ने का आद...       0
12  13  जब बीजेपी प्रवक्ता @sambitswaraj ने कांग्रेस प...       1
13  14  बियर ग्रिल्स के साथ खतरनाक जंगलों में दिखेंगे ...       1
14  15  आजम खान की बेटी पर ससूर ने किया रेप।\nअब quata...       0

In [ ]:
fake = fake.drop(['id'], axis = 1)

In [ ]:
fake = fake.dropna()

In [ ]:
fake.head()

                                                post  labels
0  मेरे देश के हिन्दु बहुत निराले है। कुछ तो पक्क...       0
1  सरकार हमेशा से किसानों की कमाई को बढ़ाने के लि...       1
2  सुशांत ने जो बिजनेस डील 9 जून को की थी, वो डील...       1
3  @prabhav218 साले जेएनयू छाप कमिने लोग हिन्दुओं...       0
4  #unlock4guidelines - अनलॉक-4 के लिए गाइडलाइन्स...       1

finding no of rows in the dataframe

In [ ]:
index = fake.index
rows = len(index)

In [ ]:
print(rows)

5728

In [ ]:
x = fake.iloc[:,:-1].values
y = fake.iloc[:,-1].values

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=6000)
mat_body = cv.fit_transform(x[:,0]).todense()

In [ ]:
mat_body

matrix([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(mat_body, y, test_size=0.2, random_state=0)

Using DecisionTree to train and test the model

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(criterion='entropy')
dtc.fit(X_train, Y_train)
y_pred = dtc.predict(X_test)

Creating a confusion matrix to determine the accuracy

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_test, y_pred)

array([[484,  57],
       [ 69, 536]])

Final accuracy score

In [ ]:
(484+536)/(484+57+69+536)

0.8900523560209425